{% extends 'index.html' %}

{% block contenido_que_cambia %}


<h4 class="display-4" style="text-align: center;">Quienes Somos</h4>


    <h3 style="text-align: center;">Hola! mi nombre es Emiliano Celleri y este es mi trabajo final para el curso de python de Coderhouse! </br>Actualmente estoy estudiando Ciencia de Datos en el Programa Codo a Codo </br> </br> Un agradecimiento especial para <a href="https://launiondelanus.com.ar/" target="_blank">La union de lanus</a> por compartirme algunas de sus notas para usar de ejemplo
    
    </h3>

{% endblock %}