{% extends 'index.html' %}

{% block contenido_que_cambia %}


<h4 class="display-4" style="text-align: center;">Quienes Somos</h4>


    <h3 style="text-align: center;">Hola! mi nombre es Emiliano Celleri y este es un trabajo de Python y Django </br>Actualmente estudio Tecnicatura Superior en Desarrollo de Software </br> </br> Un agradecimiento especial para <a href="https://launiondelanus.com.ar/" target="_blank">La union de lanus</a> por compartirme algunas de sus notas para usar de ejemplo
    
    </h3>

{% endblock %}