{% extends 'index.html' %}

{% block contenido_que_cambia %}

<h2 class="display-4" style="text-align: center;">Todas las entradas</h2>

{% for blog in blogs %}


<section id="scroll">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img class="img-fluid rounded-circle" src="{{blog.imagen.url}}" alt="..." style="width:400px ;" /></div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">{{blog.titulo}}</h2>
                    <p>{{blog.contenido|safe}}</p>
                    <h4><a href="blog/{{blog.id}}">Ver mas...</a></h4>
                </div>
            </div>
        </div>
    </div>
</section>

{% endfor %}
{% endblock %}
