{% extends "paneladmin.html" %}

{% load static %}

{% block contenido_que_cambia %}
{% if request.user.is_superuser %}
{% for blog in object_list %}

<section id="scroll">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img class="img-fluid rounded-circle" src="{{blog.imagen.url}}" alt="..." style="width:400px ;" /></div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">{{blog.titulo}}</h2>
                    <h2 class="display-4">{{blog.subtitulo}}</h2>
                    <a class="btn btn-primary btn-s rounded-pill mt-5" href="{% url 'blog_editar' blog.pk %}">Editar Blog</a>
                    <a class="btn btn-primary btn-s rounded-pill mt-5" href="{% url 'blog_detalle' blog.pk %}">Ver Blog</a>
                    <a class="btn btn-primary btn-s rounded-pill mt-5" href="{% url 'blog_borrar' blog.pk %}">Borrar Blog</a>
                    
                </div>
            </div>
        </div>
    </div>
</section>
{% endfor %}
{% else %}
<h1 class="masthead-heading mb-0">No tenes autorizacion para ver esta pagina</h1>
{% endif %}

{% endblock %}


