{% extends 'index.html' %}

{% block contenido_que_cambia %}

<h2 class="display-4" style="text-align: center;">Todos tus chats </h2>

{% for mensaje in mensajes %}


<section id="scroll">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h3>Nuevo mensaje de: {{mensaje.emisor}}</h3>
                    <p>{{mensaje.cuerpo}}</p>
                    <h5>El dia: {{mensaje.enviado}}</h5>
                    
                    <h4><a href="mensajes/{{mensaje.id}}">Ir al chat</a></h4>
                </div>
            </div>
        </div>
    </div>
</section>

{% endfor %}
<a style="text-align:center;" class="btn btn-primary btn-xl rounded-pill mt-5" href="{% url 'mandar_mensaje' %}">Enviar un mensaje</a>
{% endblock %}