{% extends 'index.html' %}

{% block contenido_que_cambia %}

<h2 class="display-4" style="text-align: center;">Mi perfil: {{user.username}} </h2>


<section id="scroll">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                {% if avatar %}
                <div class="p-5"><img class="img-fluid rounded-circle" src="{{avatar}}" alt="..." style="width:400px" /></div>
                {% endif %}
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Nombre: {{nombre}}</h2>
                    <div></div>
                    <h2 class="display-4">Apellido: {{apellido}}</h2>
                    <div></div>
                    {% if descripcion %}
                    <h2 class="display-4">Quien soy: {{descripcion}}</h2>
                    {% endif %}
                    {% if web %}
                    <p><h2><a href="{{web}}">Mi web</a></p></h2>{{web}}
                    <div></div>
                    {% endif %}
                    
                    
                    <a class="btn btn-primary btn-xl rounded-pill mt-5" href="{% url 'editar_perfil' %}">Editar mi perfil</a>
                    <a class="btn btn-primary btn-xl rounded-pill mt-5" href="{% url 'editar_informacion' %}">Editar mi informacion</a>
                    <a class="btn btn-primary btn-xl rounded-pill mt-5" href="{% url 'agregar_avatar' %}">Agregar/cambiar avatar</a>

                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}
